th { 
  background: #3498db; 
  color: white; 
  font-weight: bold; 
}

table {
  border-radius:6px;
  background:white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr:nth-of-type(odd) {
  background: #eee;
}

th, td {
  padding: 5px;
}

body {
  background:#9BC86A;
  font:400 14px 'Calibri','Arial';
  padding:20px;
}
